.create-form {
    /* display: none;  */
    position: absolute;
    width: 50%;
    height: 14em;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color: #f8f8f8;
    border: 1px solid #666;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, .7) 0 2px 4px;
    z-index: 100;
}

.create-config-form {
    height: 20em !important;
}

.data-components {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
}

.data-components form {
    padding: 3% 0;
}

.create-config-data-components {
    flex-wrap: wrap;
}

.id-select-short {
    width: 10% !important;
}

.id-select-large {
    width: 25% !important;
}

.short-text-field {
    width: 20% !important;
}

.confirm-create-button {
    margin-right: 2% !important;
    color: #1976d2 !important;
    border-color: #1976d2 !important;
}

.confirm-create-button:hover {
    background-color: rgba(25, 118, 210, 1) !important; 
    color: #fff !important;
    border-color: #fff !important;
}

.cancel-create-button {
    color: red !important;
    border-color: red !important;
}

.cancel-create-button:hover {
    background-color: rgba(255, 0, 0, 0.479) !important;
    color: #fff !important;
    border-color: #fff !important;
}

h5 {
    padding-top: 5%;
}

select {
    padding: 0.5%;
    color: #555e68;
    outline: 0px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #666;
}